<div>
    <h2>Users List</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>						
                <tr> 
                    <th width="25%"> User Name</th>
                    <th width="25%"> Firstname</th>
                    <th width="25%"> Lastname</th>
                    <th class="text-center" width="50%"> Actions</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat='user in data.data'>
                    <td  > {{user.username}} </td>
                    <td  > {{user.first_name}} </td>
                    <td  > {{user.last_name}} </td>
                    <td class="text-center"> <span> <a href="#" class="btn btn-warning" ng-click="details(user.id)" data-user-id="{{user.id}}"><i class="fa fa-bullseye"></i>  </a></span><span> <a href="#" class="btn btn-warning" ng-click="info(user.id)" data-user-id="{{user.id}}"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info " data-user-id="{{user.id}}" ng-click="lock(user.id)"><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a ng-href="#" class="btn btn-danger" data-user-id="{{user.id}}" ng-click="deleteUser(user.id)"><i class="fa fa-times"></i>  </a></span> </td>
                </tr>
                <!--<tr>
                    <td  > User name 1 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr><tr>
                    <td  > User name 2 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr><tr>
                    <td  > User name 3 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr><tr>
                    <td  > User name 4 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr><tr>
                    <td  > User name 5 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr><tr>
                    <td  > User name 6 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr><tr>
                    <td  > User name 7 </td>
                    <td class="text-center"> <span> <a href="info.html" class="btn btn-warning"><i class="fa fa-warning"></i>  </a></span>  <span><a href="#" class="btn btn-info "><i class="fa fa-unlock-alt"></i>  </a></span> <span> <a href="#" class="btn btn-danger"><i class="fa fa-times"></i>  </a></span> </td>
                </tr>-->
            </tbody>
        </table>
    </div>

</div>