<div id="usersListDiv" ng-show="usersList == true">
    <h2> Users List</h2>
    <hr>
    <button class="text-right btn btn-default" style="padding: 5px;margin: 5px;" ng-click="userAdd()">Add User</button>
    <br/>
    <div class="panel-group" id="accordion" >
        <input type="text" ng-model="search.first_name" style="display:none;">
        <div class="panel panel-default" ng-repeat="user in data.data | filter:search">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                    <h4 class="panel-title"> {{user.first_name}} {{user.last_name}} <span class="pull-right"><img src="img/profile.jpg"/></span></h4>
                </a>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse ">
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <div style="float:right;"><span> <button class="btn btn-warning" ng-click="terminate(user.id)" data-user-id="{{user.id}}"><i class="fa fa-warning"></i>  </button></span><span><button class="btn btn-info " data-user-id="{{user.id}}" ng-click="lock(user.id)"><i class="fa fa-unlock-alt"></i>  </button></span> <span> <button class="btn btn-danger" data-user-id="{{user.id}}" ng-click="deleteUser(user.id)"><i class="fa fa-times"></i>  </button></span></div>
                    <ul class="nav nav-tabs mt20" role="tablist">
                        <li class="active"><a href="#home{{$index}}" role="tab" data-toggle="tab">Info</a></li>
                        <li><a href="#profile{{$index}}" role="tab" data-toggle="tab">Mobiles</a></li>
                        <li><a href="#messages{{$index}}" role="tab" data-toggle="tab">Lisence Details</a></li>
                        <li><a href="#settings{{$index}}" role="tab" data-toggle="tab">Logs</a></li>
                        <li><a href="#locations{{$index}}" role="tab" data-toggle="tab">Locations</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home{{$index}}">
                            
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Email</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.email}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Mobile No</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.mobile_no}} </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Address</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.address}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">City</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.city}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">State</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.state}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Zipcode</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.zip}}</label>
                                </div>
                                </div>
                            </form>                            
                        </div>
                        <div class="tab-pane" id="profile{{$index}}">
                            
                            <div class="table-responsive" ng-show="addMobileform == false">
                                <a href="#/" ng-click="addMobile()" style="float: right;padding: 5px;">Edit Mobile</a>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>UUID</th>
                                            <th>IMEI</th>
                                            <th>Make</th>
                                            <th>operating_system</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mobile in user.mobiles">
                                            <td>{{mobile.id}}</td>
                                            <td>{{mobile.IMEI}}</td>
                                            <td>{{mobile.make}}</td>
                                            <td>{{mobile.operating_system}}</td>
                                            <td>{{mobile.os_version}}</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-8" ng-show="addMobileform == true">
                                <form class="form-horizontal" role="form" ng-submit="addMobileCancel()" id="userForm" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">UUID</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="uuid" id="inputEmail3" placeholder="UUID" required="" value="{{user.mobiles[0].id}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">IMEI</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="imei" id="inputEmail3" placeholder="IMEI" required value="{{user.mobiles[0].IMEI}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Make</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="make" id="inputEmail3" placeholder="Make" required="" value="{{user.mobiles[0].make}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Operating System</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="os" id="inputPassword3" placeholder="Operating System" required="" value="{{user.mobiles[0].operating_system}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Version</label>
                                        <div class="col-sm-9">
                                            <div class="input-group date">

                                                <input type="text" name="version" class="form-control" required="" value="{{user.mobiles[0].os_version}}">
                                                
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success">SAVE</button>
                                            <button type="button" class="btn btn-danger" ng-click="addMobileCancel()">CANCEL</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages{{$index}}">
                            <form class="form-horizontal first-form" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Name </label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.name}}</label>  <a class="btn btn-default pull-right edit" type="submit">Edit</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">IMEI</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.IMEI}} </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">UUID</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.UUID}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Location</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.location}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Number</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.number}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Email</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.email}}</label>
                                    </div>
                                </div>

                            </form>
                            <form class="form-horizontal second-form" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Name </label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.name}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">IMEI</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="43 4343 4234324" type="text" value="{{user.license.IMEI}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">UUID</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="43 4343 4234324" type="text" value="{{user.license.UUID}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Location</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.location}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Number</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="43 4343 4234324" type="text" value="{{user.license.number}}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Email</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.email}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" class="btn btn-default btn-success" value="SAVE">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane" id="settings{{$index}}">
                            <div class="table-responsive">
                                <h4>Logged in details</h4>
                                <ul class="list-group" >
                                    <li class="list-group-item" ng-repeat="userLog in user.log">Last Logged on  : {{userLog.time}}</li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="locations{{$index}}">
                            <div class="table-responsive">
                                <h4>Last visited locations</h4>
                                <ul class="list-group" >
                                    <li class="list-group-item" ng-repeat="userLocation in user.location">Last Located at  : <b>{{userLocation.place}}</b></li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="add-user" ng-show="userAddSection == true">
    <h2>Add User</h2>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="content">
                <form class="form-horizontal" role="form" ng-submit="submitUser()" id="userForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="firstname" id="inputEmail3" placeholder="First Name" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="lastname" id="inputEmail3" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Password" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Date fo birth</label>
                        <div class="col-sm-9">
                            <div class="input-group date">

                                <input type="text" name="dob" data-date-format="mm/dd/yyyy" id="date01" class="form-control date-picker" required="">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" name="phone" class="form-control" id="inputPassword3" placeholder="Phone" required="">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Address" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" name="address" class="form-control" id="address" placeholder="Address" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="City" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                            <input type="text" name="city" class="form-control" id="city" placeholder="City" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-sm-3 control-label">State</label>
                        <div class="col-sm-9">
                            <input type="text" name="state" class="form-control" id="state" placeholder="State" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-sm-3 control-label">Zip</label>
                        <div class="col-sm-9">
                            <input type="text" name="zip" class="form-control" id="Zip" placeholder="Zip" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-sm-3 control-label">Upload image</label>
                        <div class="col-sm-9">
                            <input type="file" name="userImage" id="image" class="form-control" accept="image/jpg,image/gif">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success">SAVE</button>
                            <button type="button" class="btn btn-danger" ng-click="addCancel()">CANCEL</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- /.col-lg-12 -->

    </div>

</div>