<div id="usersListDiv" ng-show="usersList == true">
    <h2> Users List</h2>
    <hr>
    <button class="text-right btn btn-default" style="padding: 5px;margin: 5px;" ng-click="userAdd()">Add User</button>
    <br/>
    <div class="panel-group" id="accordion" >
        <div class="panel panel-default" ng-repeat='user in data.data'>
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                    <h4 class="panel-title"> {{user.first_name}} <span class="pull-right"><img src="img/profile.jpg"/></span></h4>
                </a>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse ">
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs mt20" role="tablist">
                        <li class="active"><a href="#home{{$index}}" role="tab" data-toggle="tab">{{user.first_name}} {{user.last_name}}</a></li>
                        <li><a href="#profile{{$index}}" role="tab" data-toggle="tab">Mobiles</a></li>
                        <li><a href="#messages{{$index}}" role="tab" data-toggle="tab">Lisence Details</a></li>
                        <li><a href="#settings{{$index}}" role="tab" data-toggle="tab">Logs</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home{{$index}}">
                            <ul class="list-group" >
                                <li class="list-group-item">Email  : {{user.email}}</li>
                                <li class="list-group-item">Mobile : {{user.mobile_no}}</li>
                                <li class="list-group-item">Address:  {{user.address}}</li>
                                <li class="list-group-item">City   :  {{user.city}}</li>
                                <li class="list-group-item">State  : {{user.state}}</li>
                                <li class="list-group-item">Zip    : {{user.zip}}</li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="profile{{$index}}">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>UUID</th>
                                            <th>IMEI</th>
                                            <th>Make</th>
                                            <th>operating_system</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mobile in user.mobiles">
                                            <td>{{mobile.id}}</td>
                                            <td>{{mobile.IMEI}}</td>
                                            <td>{{mobile.make}}</td>
                                            <td>{{mobile.operating_system}}</td>
                                            <td>{{mobile.os_version}}</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages{{$index}}">
                            <form class="form-horizontal first-form" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Name </label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.name}}</label>  <a class="btn btn-default pull-right edit" type="submit">Edit</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">IMEI</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.IMEI}} </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">UUID</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.UUID}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Location</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.location}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Number</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.number}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Email</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.email}}</label>
                                    </div>
                                </div>

                            </form>
                            <form class="form-horizontal second-form" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Name </label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.name}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">IMEI</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="43 4343 4234324" type="text" value="{{user.license.IMEI}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">UUID</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="43 4343 4234324" type="text" value="{{user.license.UUID}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Location</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.location}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Number</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="43 4343 4234324" type="text" value="{{user.license.number}}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 ">Email</label>
                                    <div class="col-sm-10">
                                        <label for="inputEmail3" >{{user.license.email}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" class="btn btn-default btn-success" value="SAVE">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane" id="settings{{$index}}">
                            <div class="table-responsive">
                                <h4>Logged in details</h4>
                                <ul class="list-group" >
                                    <li class="list-group-item" ng-repeat="userLog in user.log">Last Logged on  : {{userLog.time}}</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="add-user" ng-show="userAddSection == true">
    <h2>Add User</h2>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="content">
                <form class="form-horizontal" role="form" ng-submit="submitUser()" id="userForm">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="firstname" id="inputEmail3" placeholder="First Name" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="lastname" id="inputEmail3" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Password" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Date fo birth</label>
                        <div class="col-sm-9">
                            <div class="input-group date">

                                <input type="text" name="dob" data-date-format="mm/dd/yyyy" id="date01" class="form-control date-picker" required="">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" name="phone" class="form-control" id="inputPassword3" placeholder="Phone" required="">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Address" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" name="address" class="form-control" id="address" placeholder="Address" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="City" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                            <input type="text" name="city" class="form-control" id="city" placeholder="City" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-sm-3 control-label">State</label>
                        <div class="col-sm-9">
                            <input type="text" name="state" class="form-control" id="state" placeholder="State" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-sm-3 control-label">Zip</label>
                        <div class="col-sm-9">
                            <input type="text" name="zip" class="form-control" id="Zip" placeholder="Zip" required="">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success">SAVE</button>
                            <button type="button" class="btn btn-danger" ng-click="addCancel()">CANCEL</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- /.col-lg-12 -->

    </div>

</div>